fastapi
uvicorn[standard]
httpx
sqlalchemy
alembic
psycopg2-binary
python-multipart
pypdf2
python-docx
tqdm
pydantic
langchain
pinecone-client
tenacity
langgraph
numpy
google
google.genai
sentence_transformers